html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input {
  color: #000000;
}

footer {
  background-color: #2f303a;
  padding-top: 50px;
  padding-bottom: 50px;
}

address {
  margin-top: 20px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #000000;
  padding-bottom: 50px;
  margin: 0;
}

.animation-portfolio {
  position: relative;
  overflow: hidden;
}

.animation-portfolio__text {
  position: absolute;
  font-size: 18px;
  line-height: 1.15;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover .animation-portfolio__text, .card-set__item:focus .animation-portfolio__text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transition-property: opacity 500ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  width: 11px;
  height: 11px;
}

.modal__text {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
  color: #757575;
}

.form-group {
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.form-group__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
}
.form-group__input:focus + .form-group__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__input {
  width: 448px;
  height: 40px;
  padding-left: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}
.form-group__input:focus {
  border: 1px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-group__label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  color: #000000;
}

.form-area {
  flex-direction: column;
  margin: 0;
}

.form-area__text {
  width: 448px;
  margin: 0;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 120px;
  resize: none;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.form-area__text:focus {
  border-color: #2196f3;
}
.form-area__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-area__label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #000000;
}

.form-check__btn {
  display: inline-block;
  transform: translateX(60%);
  margin-top: 30px;
  width: 200px;
  height: 50px;
  padding: 0;
  background: #2196f3;
  border: #d9d9d9;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-check_label {
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 20px;
}

.checkbox {
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-check_input:focus + .form-check_label .checkbox {
  border-color: #2196f3;
}
.form-check_input:checked + .form-check_label .checkbox {
  background-color: #2196f3;
  border: none;
}

.form-check__link {
  color: #2196f3;
  margin-left: 3px;
}

.checkbox__icon {
  fill: transparent;
  width: 11px;
  height: 18px;
}

.checkbox__icon {
  fill: #ffffff;
}

.actions {
  position: relative;
}

.actions__title {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.soc-networks {
  padding: 0;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.soc-networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-networks__link:hover, .soc-networks__link:focus {
  background-color: #2196f3;
}

.soc-networks__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-networks__link:hover .soc-networks__icon, .soc-networks__link:focus .soc-networks__icon {
  fill: #ffffff;
}

.soc-networks__link_color_white {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-list {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.company-list__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.company-list__logo:hover, .company-list__logo:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.company-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.card-set__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set .card-set__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-set__meta {
  padding-left: 24px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-set__title {
  color: #000000;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 4px;
}

.card-set__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
  margin: 0;
}

.filter-list {
  margin-top: 0;
  gap: 8px;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.filter-list__btn {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  color: #000000;
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__btn--active {
  background-color: #2196f3;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: #2196f3;
  text-decoration: none;
}

.logo__text--inverse {
  color: #212121;
}

.logo__text--inversefooter {
  color: #ffffff;
}

.menu {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  gap: 50px;
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}

.menu__link {
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu__link--active {
  position: relative;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -1px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link--link_current {
  color: #2196f3;
}

.contacts {
  gap: 30px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  color: #757575;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.hero__button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-block;
  padding-left: 32px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  min-width: 200px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background: #2196f3;
}

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 30px;
}

.benefits-list__text {
  color: #000000;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.image-box {
  box-sizing: border-box;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
}

.image-box__icons {
  width: 70px;
  height: 70px;
}

.page-footer__info {
  display: flex;
  align-items: baseline;
}

.address-data {
  display: inline;
  width: 231px;
}

.address-list {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  font-style: normal;
}

.address-list__item {
  margin-bottom: 9px;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.address-list__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #d9d9d9;
}
.address-list__contacts:hover, .address-list__contacts:focus {
  color: #2196f3;
}

.join {
  margin-left: 70px;
}

.join__list {
  justify-content: center;
  gap: 10px;
  margin: 0;
  display: flex;
  padding: 0;
}

.join__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  margin-bottom: 20px;
  margin-top: 0;
}

.mailing-list {
  width: 570px;
}

.mailing-form {
  margin-left: 93px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.mailing-form__input {
  height: 50px;
  min-width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgb(47, 48, 58);
  outline: none;
  padding-left: 16px;
}
.mailing-form__input:focus {
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-form__label {
  width: 358px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailing-form__btn {
  width: 200px;
  height: 50px;
  margin: auto;
  margin-left: 12px;
  border-radius: 4px;
  background: #2196f3;
  border: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 29px;
  padding-top: 10px;
  padding-right: 9px;
  padding-bottom: 10px;
}

.mailing {
  display: flex;
}

.mailing-form__icon {
  height: 30px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.features__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.features-list__items {
  flex-basis: 33.3333333333%;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  margin: 0;
  gap: 50px;
  padding: 0;
  display: flex;
}

.team__items {
  flex-basis: 25%;
  border-bottom: 1px solid #afb1b8;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.team-members {
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  align-items: center;
}

.team-members__name {
  color: #000000;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  margin-top: auto;
}

.team-members__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__btn, .form-group, .form-check_label, .checkbox, .soc-networks, .soc-networks__link, .company-list__logo, .header-content, .header-content__nav, .contacts__link, .image-box, .mailing-form__btn {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=main.css.map */