.hero {
  background-color: var(--background-color-hero);
  text-align: center;
  @include padding(null, 200px, null, 200px);
  max-width: 1600px;
  margin: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--background-color);
  @include font(44px, 1.36, 900, 0.06em);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.hero__button {
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  font-family: inherit;
  @include font(16px, 1.87, 700, 0.06em);
  cursor: pointer;
  display: inline-block;
  @include padding(32px, 10px, 32px, 10px);
  min-width: 200px;
  border: 1px solid transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
  background: var(--hover-color);
}
}


