html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: $background-site;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin: 0;
}

header {
  background-color: $background-site;
  border-bottom: 1px solid #ececee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
input {
  color: $title-color;
}
footer {
  background-color: $background-hero;
  padding-top: 50px;
  padding-bottom: 50px;
}
address {
  margin-top: 20px;
}
