html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--background-site);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: var(--background-site);
  border-bottom: 1px solid #ececee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
input {
  color: var(--secondary-text-color);
}
footer {
  background-color: var(--background-color-hero);
  @include padding(null, 50px, null, 50px);
}
address {
  margin-top: 20px;
}
