@mixin font($fs, $lh, $fw, $ls) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
}
@mixin align-list {
  display: flex;
  align-items: center;
}
@mixin padding($pl, $pt, $pl, $pb) {
  padding-left: $pl;
  padding-top: $pt;
  padding-right: $pl;
  padding-bottom: $pb;
}

